<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All photos
    </h1>

    <a href="/photos/new" class="btn btn-block btn-outline-secondary">
      Add a new photo
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Username
        </th>
      </tr>

      <% User.all.each do |user| %>
      <tr>
        <td>
          <a href="/users/<%=user.id%>"><%= user.username %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
